<nav class="navbar mat-toolbar mat-primary">
    <div class="container justify-content-md-between justify-content-sm-center">
        <div class="p-1">
            <!-- <button mat-icon-button class="example-icon me-2" aria-label="Menu icon">
                <mat-icon>menu</mat-icon>
            </button> -->
            <span routerLink="/" role="button" class="align-middle">Video Game Collection</span>
        </div>
        <div class="p-1">
            <form class="d-flex menu-search" role="search">
                <mat-form-field class="menu-search-form" appearance="outline">
                    <mat-label>Search from 500,000+ games</mat-label>
                    <input matInput type="text" aria-label="Search" autocomplete="off"
                        placeholder="e.g. GTA V, FIFA 22, Fortnite...">
                </mat-form-field>
                <button class="ms-2" mat-raised-button>Search</button>
            </form>
        </div>
    </div>
</nav>